block vars
    - var lang = "en";
    - var siteTitle = "Macaron shop"
    
doctype html 
html(lang=lang) 
    head
        include modules/head 
    body 
        include modules/preloader
        include modules/header 
        include modules/delivery
        include modules/footer