block vars
    - var lang = "en";
    - var siteTitle = "Macaron shop"

doctype html 
html(lang=lang) 
    head
        include head 
    body 
        include preloader
        include header 
        include body
        include footer