block body 
    body 
        
        section.main-info 
            .container 
                .row 
                    .col-6.photo-wrapp
                        img.img-animated(src="img/macaron-1.png" alt="")
                        img.img-animated(src="img/macaron-2.png" alt="")
                        img.img-animated(src="img/macaron-3.png" alt="")
                        img.img-animated(src="img/macaron-4.png" alt="")
                        img.img-animated(src="img/macaron-5.png" alt="")
                        .main-img
                            img(src="img/main-photo.png" alt="Macaron")
                    .col-5.text-wrapp.d-flex.flex-column.justify-content-center
                        img.macaron-logo(src="img/logo-section.svg" alt="")
                        h1.text-center.macaron-title True love
                        p.text-center.macaron-text Macaron
        section.bundles
            .container 
                .row.bundle-gap 
                    .col-6
                        .bundle-item.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-125.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Ready-made set
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center Ready-made sets at discounted prices.You can choose a set for the right occasion.
                    .col-6
                        .bundle-item.bundle-item_2.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-122.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Build your kit
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center Choose the quantity of macaroons, and select flavors
                    .col-6
                        .bundle-item.bundle-item_3.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-124.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Customized printed set
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center Assemble a macaron set with a unique design.
                    .col-6
                        .bundle-item.bundle-item_4.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-123.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Wedding proposals
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center Delicate macarons cakes in different flavors to decorate your wedding reception
                    .col-6
                        .bundle-item.bundle-item_5.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-131.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Corporate gifts
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center From 85 rubles per piece. With unique design. A nice compliment for colleagues and partners.
                    .col-6
                        .bundle-item.bundle-item_6.d-flex.flex-column.align-items-center
                            img.bundle-img(src="img/group-130.svg" alt="")
                            .d-flex.align-items-center 
                                h2.text-center Wholesale supplies
                                img.bundle-arrow(src="img/arrow-right.svg" alt="")
                            p.text-center Offer for coffee shops, cafes, hotels, etc. Look at the terms of cooperation and reviews.
        section.holidays.section-padding
            .container 
                .row.section-line 
                    .col-12.title-margin 
                        h3.section-title.text-center Upcoming holidays
                    .holiday-item.holiday-item_1.col-2.d-flex.flex-column.align-items-center
                        img.bithday-img(src="img/birthday.svg" alt="")
                        p.text-center A loved one's birthday is coming up
                    .holiday-item.col-2.d-flex.flex-column.align-items-center
                        img(src="img/new-year.svg" alt="")
                        p.text-center January 1th
                        p.text-center  New Year's Day 2024
                    .holiday-item.col-2.d-flex.flex-column.align-items-center
                        img(src="img/st-valentine.svg" alt="")
                        p.text-center February 14th
                        p.text-center  Valentine's Day

                    .holiday-item.col-2.d-flex.flex-column.align-items-center
                        img(src="img/men-day.svg" alt="")
                        p.text-center October 14th
                        p.text-center  Men Day
                    .holiday-item.col-2.d-flex.flex-column.align-items-center
                        img(src="img/women-day.svg" alt="")
                        p.text-center March 8th
                        p.text-center  Women Day
                    .holiday-item.col-2.d-flex.flex-column.align-items-center
                        img(src="img/holiday.svg" alt="")
                        p.text-center March 9th 
                        p.text-center Groundhog Day
        section.section-padding
            .container 
                .row.set-gap
                    .col-12.title-margin
                        h3.section-title.text-center Popular sets
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/heart.png" alt="Heart box")
                                h4 Heart
                                p 24 pieces in a heart-shaped box.
                                p Assortment of 6 flavors
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 80$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/beaty.png" alt="Box")
                                h4 Beauty saves the world
                                p Set of 16 pcs. Flavors: strawberry, coconut, blue cheese, parmesan
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 40$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/circle.png" alt="Circle box")
                                h4 Round set
                                p 40 macarons in a round box with personalized inscription
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 120$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/nine-set.png" alt="Circle box")
                                h4 Set for 9
                                p Set of 9 pieces in a square box. Flavors: chocolate, pistachio, cherry
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 85$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/16-set.png" alt="Circle box")
                                h4 Set for 16
                                p Set of 16 pcs. Flavors: salted caramel, blue cheese, parmesan, chocolate
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 100$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-4.set-item
                        .set 
                            .set-wrapp
                                .img-wrapp
                                    img(src="img/heart-big.png" alt="Circle box")
                                h4 Heart
                                p Set of 30 pcs. Flavors: salted caramel, blue cheese, parmesan, chocolate
                            .set-price.d-flex.justify-content-between
                                .price-wrapp
                                    span.price 130$ 
                                .cart-wrapp.d-flex.align-items-center
                                    img(src="img/shopping-bag.svg" alt="Cart")
                                    span.cart-text Add to cart
                    .col-12.set-btn.d-flex.justify-content-center 
                        a.d-flex.justify-content-center(href="#") All holiday sets
        section.section-padding.care-section 
            .container 
                .row 
                    .col-12.title-margin 
                        h3.section-title.text-center We took care of everything
                    .col-3.care-item
                        .care
                            .care-wrapp
                                .img-wrapp
                                    img(src="img/img-1.png" alt="Image")
                                h4 Best Ingredients
                                p Something about super quality, better chefs, freshness, etc.
                    .col-3.care-item
                        .care
                            .care-wrapp
                                .img-wrapp
                                    img(src="img/img-2.png" alt="Image")
                                h4 Packaging
                                p Something about super boxes and bows and blah blah blah.
                    .col-3.care-item
                        .care
                            .care-wrapp
                                .img-wrapp
                                    img(src="img/img-3.png" alt="Image")
                                h4 Receipt on the day of order
                                p On the day of order delivery by courier or self-delivery
                    .col-3.care-item
                        .care
                            .care-wrapp
                                .img-wrapp
                                    img(src="img/img-4.png" alt="Image")
                                h4 Anonymous delivery
                                p We can present your order as an anonymous gift.








    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/TextPlugin.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js")
    script(src="js/jquery-3.7.1.min.js") 
    script(type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="js/bootstrap.min.js") 
    script(src="js/main.js") 