block contacts
    section.pages-padding
        .container 
            .row.align-items-center 
                .col-6.contact-wrapp.d-flex.justify-content-center 
                    img.contact-img(src="img/contacts.svg" alt="")
                .col-6.contact-text 
                    .contacts-text-wrapp 
                        h1.pages-title Contacts
                    .contacts-text 
                        h2.pages-small-title Manufacture
                        ul 
                            li Imaginary, 22 
                            li Working hours: from 8 to 19:30.
                    .contacts-text 
                        h2.pages-small-title Pickup points:
                        ul 
                            li Cafe Moroshka. 22 Voobrazhamaya St. (8 a.m. to 7:30 p.m.)
                            li Mint Cafe. Ideynaya, 37 (from 10 to 22)
                    .contacts-text 
                        h2.pages-small-title Telephones:
                        ul 
                            li +38 (044) 823-54-12 main number
                            li +38 (044) 823-54-15 for complaints and suggestions





include javascript