block delivery
    section.delivery 
        .container 
            .row.align-items-center 
                .col-6
                    .bike-wrapp
                        img#bike(src="img/bike.svg" alt="")
                .col-6 
                    .delivery-text-wrapp
                        h1 Delivery and payment
                        p.delivery-method There are 2 delivery methods available for our customers: <b>courier delivery</b> to cities within CA and <b>self-delivery</b>.
                        h2 Courier delivery:
                        ul.d-flex.flex-column 
                            li Couriers work every day from 11 a.m. to 9 p.m. Delivery of pasta is carried out only in the city within the Ring Road (KAD). <span>Exact delivery zone.</span>
                            li If you are ready to accept the order in the interval from 12 to 17 hours or from 17 to 21 hours, the delivery will cost 5 dollars.
                            li  For orders of $100 or more, shipping is FREE.
                            li When placing an order before 15 hours delivery is possible on the same day between 17 and 21 hours.
                            li The courier will warn you of his arrival 30-40 minutes in advance.
    section.delivery.payment 
        .container 
            .row.align-items-center            
                .col-6 
                    .delivery-text-wrapp 
                        h2 Self-delivery
                        ul.d-flex.flex-column  
                            li You can make an order and pick it up yourself from our production facility at the address: 22 Vobrazheniya St. shopping center "La Plaza"
                            li The order must be made before 20 hours to pick it up the next day at the self-deposit point at any convenient time between 13 and 22 hours.
                            li You can pay for the order by bank card in advance when placing the order. It is not possible to pay by bank card immediately upon receipt.
                        h2 Payment
                        ul.d-flex.flex-column  
                            li You can pay for the order upon receipt in cash or pay for the order in advance by bank card. To do this, specify the chosen method when placing your order. 
                            li Payment by bank card is convenient if you want to send desserts as a gift or do not want to deal with cash upon receipt of the order.
                            li If you do not have a ukrainian bank card, we can accept payment via PayPal payment system.
                .col-6.d-flex.justify-content-center
                    .location-wrapp 
                        img(src="img/location.svg" alt="")
    section.map 
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d168998.4766695555!2d30.262081574417447!3d50.43898065629107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf4ee15a4505%3A0x764931d2170146fe!2z0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1699367048870!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>




include javascript