block footer

footer 
    .container 
        .row 
            .col-4
                .d-flex.justify-content-between 
                    .about-item.d-flex.flex-column.align-items-center
                        img(src="img/frame-1.svg" alt="Heart")
                        h5.text-center Handmade with love
                    .about-item.d-flex.flex-column.align-items-center
                        img(src="img/frame-2.svg" alt="Delivery")
                        h5.text-center Same-day delivery
                    .about-item.d-flex.flex-column.align-items-center
                        img(src="img/frame-3.svg" alt="Seeds")
                        h5.text-center 100% natural ingredients
                .copyright-wrapp        
                    p © 2023 Makaronshop 
                    p LLC "Quantum", Kyiv, Old Podyl Street, house 22

            .col-2.footer-menu 
                h6 Information
                ul 
                    li 
                        a(href="#")  About
                    li 
                        a(href="#") Quality assurance
                    li 
                        a(href="#") Delivery and payment
                    li 
                        a(href="#") Contacts
            .col-2.footer-menu 
                h6 Catalog
                ul 
                    li 
                        a(href="#")  Dessert Catalog
                    li 
                        a(href="#") Ready-made kits
                    li 
                        a(href="#") Build your own set
                    li 
                        a(href="#") Promotions
            .col-2.footer-menu 
                h6 For companies
                ul 
                    li 
                        a(href="#")  Corporate gifts
                    li 
                        a(href="#") For legal entities
                    li 
                        a(href="#") Wholesalers
            .col-2.footer-menu
                .contact-wrapp 
                    h6.text-end +38 (044) 823-54-12
                    p.text-end 9:00 to 21:00
                .nav-social.d-flex.align-items-center.justify-content-end   
                    a(href="#") 
                        img(src="img/tg.svg" alt="Telegram")
                    a(href="#") 
                        img(src="img/instagram.svg" alt="Instagram")
                    a(href="#") 
                        img(src="img/facebook.svg" alt="Facebook")

