block header 
header 
    section
        .container 
            .row 
                .header-slider.col-12.d-flex.justify-content-center
                    .slide.d-flex.align-items-center.justify-content-center 
                        img(src="img/group-110.svg" alt="Macaron")
                        p ALMOND FLOUR AND NATURAL INGREDIENTS
                    .slide.d-flex.align-items-center.justify-content-center 
                        img(src="img/group-216.svg" alt="Macaron")
                        p ALWAYS FRESH     
                    .slide.d-flex.align-items-center.justify-content-center 
                        img(src="img/group-214.svg" alt="Macaron")
                        p BULK SUPPLIES FROM THE MANUFACTURER
                    .slide.d-flex.align-items-center.justify-content-center 
                        img(src="img/group-213.svg" alt="Macaron")
                        p SAME-DAY DELIVERY
    section 
        .container 
            .row 
                .nav-menu.col-5
                    ul.d-flex 
                        li 
                            a(href="#") Guarantee of freshness
                        li 
                            a(href="#") Delivery and payment
                        li 
                            a(href="#") Wholesale supplies
                        li 
                            a(href="#") Contacts
                .nav-location.col-2.align-items-center.d-flex.justify-content-end
                    img(src="img/place.svg" alt="Place")
                    select(name="cities" id="cities")
                        option(value="kiev") Kiyv
                        option(value="kiev") Kharkiv
                        option(value="kiev") Lviv
                        option(value="kiev") Poltava
                .nav-phone.col-2.d-flex.align-items-center
                    img(src="img/phone.svg" alt="Phone")
                    a(href="tel:+38 (044) 823-54-12") +38 (044) 823-54-12
                .nav-shop.col-1.align-items-center.d-flex
                    a(href="#") 
                        img(src="img/shopping-bag.svg" alt="Shopping bag")
                .nav-social.col-2.d-flex.align-items-center
                    a(href="#") 
                        img(src="img/tg.svg" alt="Telegram")
                    a(href="#") 
                        img(src="img/instagram.svg" alt="Instagram")
                    a(href="#") 
                        img(src="img/facebook.svg" alt="Facebook")