block items
    section.pages-padding
        .container 
            .row.set-gap
                .col-12.title-margin
                    h3.section-title.text-center Popular sets
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/heart.png" alt="Heart box")
                            h4 Heart
                            p 24 pieces in a heart-shaped box.
                            p Assortment of 6 flavors
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 80$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/beaty.png" alt="Box")
                            h4 Beauty saves the world
                            p Set of 16 pcs. Flavors: strawberry, coconut, blue cheese, parmesan
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 40$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/circle.png" alt="Circle box")
                            h4 Round set
                            p 40 macarons in a round box with personalized inscription
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 120$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/nine-set.png" alt="Circle box")
                            h4 Set for 9
                            p Set of 9 pieces in a square box. Flavors: chocolate, pistachio, cherry
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 85$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/16-set.png" alt="Circle box")
                            h4 Set for 16
                            p Set of 16 pcs. Flavors: salted caramel, blue cheese, parmesan, chocolate
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 100$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-4.set-item
                    .set 
                        .set-wrapp
                            .img-wrapp
                                img(src="img/heart-big.png" alt="Circle box")
                            h4 Heart
                            p Set of 30 pcs. Flavors: salted caramel, blue cheese, parmesan, chocolate
                        .set-price.d-flex.justify-content-between
                            .price-wrapp
                                span.price 130$ 
                            .cart-wrapp.d-flex.align-items-center
                                img(src="img/shopping-bag.svg" alt="Cart")
                                span.cart-text Add to cart
                .col-12.set-btn.d-flex.justify-content-center 
                    a.d-flex.justify-content-center(href="#") All holiday sets