block supplies 
    section.pages-padding 
        .container 
            .row 
                .col-6.d-flex.justify-content-center.supplies-img  
                    img(src="img/macarons.png" alt="")
                .col-6.supplies-info 
                    .supplies-page-wrapp
                        h1.pages-title.text-center Supplies of cakes in bulk
                        p.text-center Our macarons and tubes are sold in the largest confectionery and coffee chains in Kyiv. Join us!
                    .btns-wrapp.d-flex.justify-content-around
                        .set-btn.d-flex.justify-content-center 
                            a.d-flex.justify-content-center(href="#") Presentation
                        .set-btn.d-flex.justify-content-center 
                            a.d-flex.justify-content-center(href="#") Price-list
                    .supplies-text-wrapp
                        p We offer: 
                        ul 
                            li direct deliveries from the manufacturer, always fresh products;
                            li assortment with high average check and margin; 
                            li free acrylic showboxes for showcase;
                            li products for tasting or price reduction for promotional events; 
                            li flexible terms of cooperation and delivery.
    section.pages-padding 
        .container 
            .row.offer-gap
                .col-12.offer-text 
                    h3.section-title.text-center What we can offer you:
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_top 
                    img(src="img/offer-1.svg" alt="") 
                    p.text-center Corporate gifts
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_top
                    img(src="img/offer-2.svg" alt="") 
                    p.text-center Cooperation with online stores
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_top
                    img(src="img/offer-3.svg" alt="") 
                    p.text-center Cooperation with cafes and restaurants
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_top  
                    img(src="img/offer-4.svg" alt="") 
                    p.text-center Cooperation with coffee shops
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_bottom 
                    img(src="img/offer-5.svg" alt="") 
                    p.text-center Cooperation with hotels
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_bottom  
                    img(src="img/offer-6.svg" alt="") 
                    p.text-center For Retail
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_bottom  
                    img(src="img/offer-7.svg" alt="") 
                    p.text-center Candy bars for events
                .col-3.offer-wrapp.d-flex.align-items-center.flex-column.offer-wrapp_bottom  
                    img(src="img/offer-8.svg" alt="") 
                    p.text-center And for other business areas
    section.supplies-form.pages-padding  
        .container 
            .row 
                .col-12.form-title
                    h3.section-title.text-center Order an estimate or send a request for cooperation
                .col-12.modal-btn.d-flex.justify-content-center 
                    button.open-btn Order calculation











include javascript