block guarantee
    section.kits 
        .container 
            .row.justify-content-center 
                .col-12
                    h3.section-title.text-center Taste and quality assurance
                    p.text-center We use only natural ingredients in making our cakes, avoiding the use of chemicals
                .col-3
                    .kit-item 
                        div 
                            img(src="img/w-1.png" alt="")
                        p.text-center 100% 
                        p.text-center almond flour
                .col-3
                    .kit-item 
                        div 
                            img(src="img/w-2.png" alt="")
                        p.text-center 100% 
                        p.text-center safe food coloring
                .col-3
                    .kit-item 
                        div 
                            img(src="img/w-3.png" alt="")
                        p.text-center 100% 
                        p.text-center fruit puree and natrual ingredients





include javascript